/* 详细页图片或框框的样式;
*/
#multidropdown {
  background-color: #0d1a26;
}
#multidropdown body {
  color: #ffffff;
}
.footer {
  font-size: 14px;
  color: #919191;
  background-color: #001529;
}
.footer h1 {
  color: #919191;
}
