/* 详细页图片或框框的样式;
*/
#multidropdown {
  background-color: #0d1a26;
  display: flex;
  justify-content: center;
}
#multidropdown body {
  color: #ffffff;
}
.footer {
  font-size: 14px;
  color: #919191;
  background-color: #001529;
}
.footer h1 {
  color: #919191;
}
.two-rows-label .ant-form-item-label {
  padding: 4px 0 !important;
}
.two-rows-label .ant-form-item-label label {
  white-space: normal;
  display: inline-block;
  text-align: center;
  line-height: 16px;
}
.two-rows-label .ant-form-item-label label:after {
  content: none !important;
}
.two-rows-label .ant-form-item-label label.ant-form-item-required:before {
  position: absolute;
  left: -7px;
}
.ant-menu-dark .ant-menu-item > span > a {
  color: #ffffff;
}
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: #ffffff;
  background: #4B9B9D;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  top: 0;
  margin-top: 0;
  padding: 0 20px;
  border-color: #4B9B9D;
  border-bottom: 0;
  color: '#FFFFFF';
}
.ant-dropdown-menu-dark .ant-dropdown-menu {
  background: #4B9B9D;
  color: '#FFFFFF';
}
.drawer-content {
  background: #3e7678;
  color: '#FFFFFF';
}
