.markdown {
	font-size: 14px;
	color: #919191;
	// font-family:'-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';

	h1 {
		font-size: 32px;
		margin-bottom: 16px;
		text-align: left;
		color: #ccc;
	}
	p {
		font-size: 14px;
		color: #919191;
		text-align: left;
		// white-space: pre-wrap;
	}
	h3 {
		font-size: 18px;
	}
}

.newsletter{
	font-size: 14px;
	color: #919191;
}

@media only screen and (max-width: 600px) {
	.bannerHome {
		background-image: url('/static/img/banner/Web-banner.png');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 800px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (min-width: 601px) {
	.bannerHome {
		background-image: url('/static/img/banner/Web-banner.png');
		// background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 900px;
	}
}

