.markdown {
	font-size: 14px;
	color: #919191;
	// font-family:'-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';

	h1 {
		font-size: 32px;
		margin-bottom: 16px;
		text-align: center;
		color: #ccc;
	}
	p {
		font-size: 14px;
		color: #919191;
		text-align: center;
        // white-space: pre-wrap;
	}
    h3{
        font-size: 18px;
    }
}