.customclass {
	background-color: #3e7678; /*Overriden property*/
}

.title {
	font-size: 28px;
	margin-bottom: 2px;
	text-align: center;
}

.titleGray {
	font-size: 32px;
	margin-bottom: 16px;
	text-align: center;
	color: #ccc;
}

.subtitle {
	font-size: 18px;
	color: #919191;
	text-align: center;
}
.subtitleStory {
	font-size: 18px;
	color: #919191;
	text-align: left;
	white-space: pre-wrap;
}
.contentContact {
	font-size: 14px;
	color: #919191;
	text-align: left;
	margin: auto;
}

.membership {
	font-size: 14px;
	color: #919191;
	text-align: center;
}

.contentBLBL {
	font-size: 15px;
	color: #919191;
	text-align: center;
	white-space: pre-line;
}

.content {
	font-size: 15px;
	color: #919191;
	text-align: center;
}
.contentMembership {
	font-size: 14px;
	color: #919191;
	text-align: left;
	margin: 8px;
}

.contentAwards {
	font-size: 16px;
	color: #919191;
	text-align: left;
	white-space: pre-wrap;
}

.titleAwards {
	font-size: 32px;
	margin-bottom: 5px;
	text-align: left;
	color: #ccc;
	white-space: pre-wrap;
	text-transform: uppercase;
}

.discount {
	font-size: 12px;
	color: #919191;
	text-align: center;
}

.TeamEmails {
	font-size: 12px;
	color: #919191;
	text-align: left;
	width: 350px;
	margin-left: 30px;
	padding: 0%;
	/* line-height: 1; */
}
.TeamDepartments {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	width: 350px;
	margin-left: 30px;
	padding: 0%;
	/* line-height: 1; */
}

.titleBLBL {
	font-size: 48px;
	margin-bottom: 2px;
	text-align: center;
}

.descriptionBLBL {
	font-size: 14px;
	color: #919191;
	text-align: center;
	margin: 4px;
}

.footerLogos {
	font-size: 48px;
	color: #FFFFFF;
	margin: 2px;
}

.footerTitle {
	font-size: 40px;
	color: #FFFFFF;
}

.footerSubtitle {
	font-size: 20px;
	color: #FFFFFF;
}

.contentHome {
	font-size: 16px;
	color: #919191;
	text-align: center;
	line-height: 1.5;
	margin: 2em;
}

.titleHome {
	font-size: 24px;
	/* margin-bottom: 16px; */
	text-align: center;
	color: #ccc;
}

@media only screen and (max-width: 600px) {
	.titleBLBL {
		font-size: 40px;
		/* margin: 10%; */
		text-align: center;
		white-space: pre-wrap;
		/* word-wrap: break-word;
		display: inline-block; */
	}
	.descriptionBLBL {
		font-size: 14px;
		color: #919191;
		text-align: center;
		margin: 4px;
	}

	.footerLogos {
		font-size: 28px;
		color: #FFFFFF;
		margin: 3px;
	}
	.footerTitle {
		font-size: 28px;
		color: #FFFFFF;
	}

	.footerSubtitle {
		font-size: 15px;
		color: #FFFFFF;
		margin: 1px;
	}
}

.ant-menu.ant-menu-dark .ant-menu-sub {
	color: rgba(255, 255, 255, 0.65);
	background: #ff761b;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
	top: 0;
	margin-top: 0;
	padding: 0 20px;
	border-color: #ff761b;
	border-bottom: 0;
}
.ant-dropdown-menu-dark .ant-dropdown-menu {
	background: #ff761b;
}

.ant-layout-header {
	height: 64px;
	padding: 0 50px;
	color: rgba(0, 0, 0, 0.85);
	line-height: 64px;
	background: #ff761b;
}
